{% extends 'base.html' %}
{% load static %}
{% block title %}Add new Post{% endblock %}
{% block body %}


<div class="container mt-5 ">
    <div class="border p-5 shadow">
      <h1 class="text-center">ADD POST</h1>
      <br>
      <br>
      <form method="POST" action="{% url 'addpost' %}">
        {% csrf_token %}
          
         
         <div class="form-group">
               <input type="text"  class="form-control border border-dark" name="title" id="exampleInputEmail1" placeholder="Title" required>
         </div>
         <br>
         <div class="form-group">
           <textarea type="text"  name="desc" class="form-control border border-dark" id="exampleInputPassword1" placeholder="Description" rows="10" required></textarea>
         </div>
         <br>
         <div class="d-grid gap-2 d-md-block "></div>
            <button type="submit"  class="btn btn-success">Post</button>
            <a class="btn btn-danger" href="{% url 'blog' %}" type="button">Cancel</a>
          </div> 
       </form>
          
        
    </div>
  </div>

{% endblock %}
